{
  "/" : {
    "path" : "/",
    "security" : {
      "##module" : "NONE",
      "##module" : "EMBEDDED",
      "module" : "SHIRO",
      "classPath" : [ "${webswing.rootDir}/dist/ext-lib/*" ],
      "config" : {
        "users" : [ {
          "username" : "admin",
          "password" : "pwd",
          "roles" : [ "admin" ]
        } ],
        "File" : "${webswing.rootDir}/shiro.ini"
      }
    }
  },
  "/welcome" : {
    "path" : "/welcome",
    "webFolder" : "${webswing.rootDir}/welcome",
    "name": "Welcome page",
    "swingConfig": {
    }
  }
}